<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>@ViewBag.Salesman</title>
</head>
<body>
    Dear @ViewBag.Salesman,<br />
    Berikut adalah Code untuk melakukan reset 
     Anda.<br />
   <h1>@ViewBag.Value</h1>
    Silahkan masukkan kode diatas di menu reset password<br/>
    Kode ini hanya berlaku selama 5 menit<br/>
    Salam,<br />
    GeisaFOrce
   <p><i>
            Email ini dikirim secara otomatis oleh system dan merupakan PO yang sah, tidak perlu dibalas.
            Untuk keterangan lebih lanjut silahkan hubungi BE terkait
            GeisaForce - @ViewBag.DateSend
   </i></p>
</body>
</html>